{% extends "base.html" %}

{% block chartsButton %}
    class="active"
{% endblock %}

{% block pageHeader %}
    Charts
    <small>Subheading</small>
{% endblock %}

{% block breadcrumb %}
<li>
    <i class="fa fa-dashboard"></i>  <a href="{% url 'index' %}">Dashboard</a>
</li>
<li class="active">
    <i class="fa fa-bar-chart-o"></i> Charts
</li>
{% endblock %}
{% block row %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Area Line Graph Example with Tooltips</h3>
            </div>
            <div class="panel-body">
                <div id="mychart"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block chartsData %}
<script>
    $(function () {
        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'Quarter Hour Data',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                {% for packet in averaged_packs %}
                    {time: '{{packet.time_stamp|date:"c"}}', '{{packet.address}}': {{packet.data}} },
                {% endfor %}
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'time',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['1', '2'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['Sensor 1', 'Sensor 2'],
            postUnits: String.fromCharCode(176) + "C",
            dateFormat: function (x) { 
                var monthNames = [
                  "January", "February", "March",
                  "April", "May", "June", "July",
                  "August", "September", "October",
                  "November", "December"
                ];
                var date = new Date(x); 
                var hour = date.getHours();
                var minute = date.getMinutes();
                minute = ("0" + minute).slice(-2);
                var month = date.getMonth();
                var day = date.getDate();
                var year = date.getFullYear();
                return (hour +":"+minute + " " + monthNames[month] + " " + day +", " + year);
            },
            resize: true
        });
    });
</script>
<script>
    $(function () {
        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'Hourly Data',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                {% for packet in hourly_packs %}
                    {time: '{{packet.time_stamp|date:"c"}}', '{{packet.address}}': {{packet.data}} },
                {% endfor %}
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'time',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['1', '2'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['Sensor 1', 'Sensor 2'],
            postUnits: String.fromCharCode(176) + "C",
            dateFormat: function (x) {
                var monthNames = [
                  "January", "February", "March",
                  "April", "May", "June", "July",
                  "August", "September", "October",
                  "November", "December"
                ];
                var date = new Date(x);
                var hour = date.getHours();
                var minute = date.getMinutes();
                minute = ("0" + minute).slice(-2);
                var month = date.getMonth();
                var day = date.getDate();
                var year = date.getFullYear();
                return (hour +":"+minute + " " + monthNames[month] + " " + day +", " + year);
            },
            resize: true
        });
    });
</script>
{% endblock %}
